.Xauthority
.bash*
.cache
.cargo
.config/.gsd-keyboard.settings-ported
.config/BetterDiscord
.config/GIMP
.config/Gaijin
.config/Kvantum
.config/Mailspring
.config/Nextcloud
.config/Thunar/accels.scm
.config/WarThunder
.config/mpv/watch_later
.dmrc
.electron-gyp
.gitconfig
.gksu.lock
.gnupg
.gtkrc-2.0
.hyprland
.local/bin
.local/share/*
.local/state
.minecraft
.mozilla
.parallel
.pki
.profile
.pulse-cookie
.python_history
.rustup
.ssh
.steam*
.thunderbird
.vim
.viminfo
.vscode-oss
.wallpapers
.wget-hsts
.wine
.xinitrc
.xsession-errors*
Code
Documents
Downloads
Games
Pictures
Scripts
Videos
go
!.local/share/dotfiles
