.Xauthority
.bash*
.cache
.cargo
.config/*
.dmrc
.electron-gyp
.gitconfig
.gksu.lock
.gnupg
.gtkrc-2.0
.hyprland
.local/bin/*
.local/share/*
.local/state
.minecraft
.mozilla
.parallel
.pki
.profile
.pulse-cookie
.python_history
.rustup
.ssh
.steam*
.thunderbird
.vim
.viminfo
.vscode-oss
.wallpapers
.wget-hsts
.wine
.xinitrc
.xsession-errors*
.yarnrc
Code
Documents
Downloads
Games
Pictures
Scripts
Videos
go
!.config/GIMP/2.10/palettes
!.config/Kvantum
!.config/Thunar
.config/Thunar/accels.scm
!.config/fish
.config/fish/*
!.config/fish/conf.d
.config/fish/conf.d/local
!.config/foot
!.config/git
!.config/gtk-3.0
.config/gtk-3.0/bookmarks
!.config/gtk-4.0
.config/gtk-4.0/bookmarks
!.config/hypr
!.config/mako
!.config/mimeapps.list
!.config/mpv
.config/mpv/watch_later
!.config/neofetch
!.config/qt5ct/colors
!.config/qt6ct/colors
!.config/swayidle
!.config/swaylock
!.config/waybar
!.config/wofi
!.config/xfce4
.config/xfce4/xfconf/
!.config/xsettingsd
!.local/bin/scripts/
!.local/share/applications
!.local/share/dotfiles
