[Desktop Entry]
Name=Sonixd
Exec=sonixd --enable-features=UseOzonePlatform --ozone-platform=wayland
Terminal=false
Type=Application
Icon=sonixd
Categories=Audio;AudioVideo
